@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="background-color:cornflowerblue">
    <header class="text-center">
        <h1 class="display-4">Core5 Razor Pagees</h1>
        <h2>by @Model.FullName</h2>
    </header>
    <br/><br/>
    <form method="post" class="mx-auto" style="width:200px">
        <p class="col-mb-2">
            <label for="name">Name</label>
            <input type="text" class="form-control" required ="true" placeholder="Full Name" asp-for="FullName">
            @*<input type="text" class="form-control" name="name">*@
        </p>
        <p class="col-mb-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" required="true" name="email">
        </p>
        <p class="col-mb-2">
            <button type="submit" class="btn btn-success">Register</button>
        </p>
        <p class="col-mb-12">
            @ViewData["Message"]

        </p>
      </form>

@*    <form method="post" class="text-left">
        <div class="form-label">
            <label for="Name" class="col-sm-2 form-control-plaintext">Name</label>
            <input type="text" class="form-control" name="Name">
       </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="text" class="form-control" name="Email"me">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>*@
</div>
